.body {
  font-family: "Roboto", sans-serif;

  color: #434455;
  background-color: #ffffff;
}
/* -----------------------LOGO------------------ */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
/* -----------------------////------------------ */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
/* .header_nav {
  width: 261px;
  height: 24px;

  display: flex;
  align-items: center;
  margin-right: auto;
} */




.logo-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

/* nav {
  display: flex;
  align-items: center;
} */
.roboto-medium {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* nav a {
  color: black;
  text-decoration: none;
  font-size: 19px;
  margin-right: 20px;
} */

/* nav ul {
  list-style: none;
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
} */

/* nav ul li {
  margin-right: 20px;
} */

/* nav ul li a {
  color: black;
  text-decoration: none;
} */
nav ul li a:hover {
  color: #404bbf;
}

nav ul li a:focus {
  color: #404bbf;
}
.adress_option {
  display: flex;
  align-items: center;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5 ;
  letter-spacing: 0.02em;
  color:#434455;

}
/* .adress_option:hover{
  color: #404bbf;
}
.adress_option:focus{
  color: #404bbf;
} */
.phone {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* .adress_option ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
} */

/* .adress_option ul li {
  margin-left: 20px;
}

.adress_option ul li a {
  color: black;
  text-decoration: none;
} */
  .adress_option ul li a:hover {
  color: #404bbf;
}
.adress_option ul li a:focus {
  color: #404bbf;
} */
/* -----------------Hero_img--------------- */
 .container{
  background-color: #2e2f42;}


/* section {
  background-color: #2e2f42;
  
} */
.title {
  /* font-weight: 700; */
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color:#ffffff

  /* text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); */
  /* margin: 0px;
  max-width: 564px;
  padding: auto; */
}

.button_1 {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  background-color: #4D5AE5;
  /* margin-top: 20px; */
  color: white;
  /* border: none; */
  /* padding: 15px 30px; */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  /* cursor: pointer  */
  /* cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15); */
}
button:hover {
  background-color: #404BBF;
} 
button:focus {
  background-color: #404BBF;
} */
.container.button a {
  cursor: pointer
}
/* ------------------//--------------------- */

.container_1 {
  /* display: flex;
  width: 1128px;
  height: 104px;
  margin-left: 150px;

  justify-content: space-between; */
}

/* .Our_team {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
} */
/* .section_1_box {
  margin: 10px;
} */
.subject{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.lead {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/* -----------------Our_Team---------------- */
.container_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-top: 100px;
  background-color: #f4f4fd;
}
.subject_h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
/* .section_2_box {
  display: flex;

  /* justify-content: center;
  align-items: center; */
  /* justify-content: space-between; */
  /* padding: auto;
  margin-top: auto;
  gap: 20px;
} */ */
/* .section_2_box_option {
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  width: 264px;
  height: 380px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: white;
} */
.subject_h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.lead_p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
/* -----------------////---------------- */
.container_3 {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 1128px;
  height: 1000px;
  top: 1868px;
  left: 156px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border-width: 1px, 1px, 1px, 1px;

  border-color: #e7e9fc;
}
/* .section_3_box2 {
  order: 2; /* Второй по порядку */
/* } */ */

/* .section_3_box1 {
  order: 1; /* Первый по порядку */
/* } */ */
/* .section_3_h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
} */

/* .section_3_box1,
.section_3_box2 {
  display: flex;
  flex-direction: column;

  justify-content: center;

  /* justify-content: space-between; */
  /* padding: auto;
  margin-top: auto;
  gap: 20px;
} */ */
.subject_3_h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.lead_3_p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
/* .section_3_img {
  width: 360px;
  height: 420px;
  background: white;
} */
/* .coment {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 360px;
  height: 120px;
} */
/* .section_3_box2 {
  text-align: center;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
} 